[buildout]
index = http://packages.lizardsystem.nl
extends =
    http://packages.lizardsystem.nl/kgs/3.1.11/versions.cfg
    server.cfg
find-links =
unzip = true
prefer-final = true
versions = versions
extensions =
    mr.developer
    buildout-versions
parts =
    sysegg
    mkdir
    django
    omelette
    console_scripts
    pyflakes
    sphinx
    pydev
    nodejs
    phantomjs
    phantomjs-bin
    ${buildout:serverparts}
develop = .
auto-checkout =
eggs =
    lizard-screenshotter


[versions]
# Specific pins. We inherit lots of pins from the KGS, so if you add a
# development egg, you really need to un-pin it here.
lizard-screenshotter =

# Reported by buildout-versions


[sources]
# Sources that mr.developer can check out and add as development egg.
# If one of them is absolutely necessary, add its name to the "auto-checkout"
# in [buildout].
# Example:
# lizard-ui = git git@github.com:lizardsystem/lizard-ui.git


[sysegg]
# Add eggs here that are best handled through OS-level packages.
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    psycopg2
    matplotlib
    PIL
#     pyproj


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log
    ${buildout:directory}/var/sqlite


[serverconfig]
# Configuration for setting up gunicorn, supervisor etc.
# For the gunicorn port, check on the server in the other sites as
# there should be no overlap. And simply give the supervisor port one
# number higher.
gunicorn-port = 8000
supervisor-port = 8001
sitename = screenshotter.lizard.net
workers = 3



[nodejs]
recipe = gp.recipe.node
npms = xmlrpc@0.9.4 optimist coffee-script
scripts = node coffee
url = http://nodejs.org/dist/v0.8.2/node-v0.8.2.tar.gz

[phantomjs]
recipe = hexagonit.recipe.download
url = http://phantomjs.googlecode.com/files/phantomjs-1.6.0-linux-x86_64-dynamic.tar.bz2
# url = http://phantomjs.googlecode.com/files/phantomjs-1.6.0-linux-i686-dynamic.tar.bz2
strip-top-level-dir = true

[phantomjs-bin]
recipe = cns.recipe.symlink
symlink = phantomjs
symlink_base = ${buildout:parts-directory}/phantomjs/bin
symlink_target = ${buildout:bin-directory}


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
wsgi = true
wsgilog = ${buildout:directory}/var/log/django.log
project = lizard_screenshotter
projectegg = lizard_screenshotter
settings = developmentsettings
test = lizard_screenshotter
eggs = lizard-screenshotter


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    zest.releaser
    sitesetup
    fabric


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}


[pydev]
recipe = pb.recipes.pydev
eggs = ${buildout:eggs}
pydevproject_path = ${buildout:directory}/.pydevproject
extra_paths =
