[buildout]
extends = development.cfg
parts +=
    supervisor-cronjob
    collectstatic


[django]
# Use the staging settings instead of developmentsettings.
settings = stagingsettings


[serverconfig]
# Staging-specific settings.
gunicorn-port = TODO
supervisor-port = TODO
sitename = test.TODO.lizard.net
