{% load thumbnail %}<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Lizard Screenshotter - Archive</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}lizard_screenshotter/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}lizard_screenshotter/css/bootstrap-responsive.css">        
        <script src="{{ STATIC_URL}}lizard_screenshotter/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL}}lizard_screenshotter/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL}}lizard_screenshotter/js/bootstrap-tab.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL}}lizard_screenshotter/js/bootstrap-tooltip.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL}}lizard_screenshotter/js/bootstrap-popover.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body id="" class="">
        <a href="https://github.com/lizardsystem/lizard-screenshotter"><img style="z-index:10000;position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>       
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/">Lizard Screenshotter</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/archive/">Archive</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        <div class="container">

          <h1>Archive</h1>

          <div class="row">
              <hr>
              
              <ul class="thumbnails">
              {% for screenshot in screenshots %}
                  <li class="span3">
                    <a href="/media/captures/{{ screenshot.screenshotname }}" title="{{ screenshotname.screenshotname }}" class="thumbnail">
                      {% thumbnail screenshot.fullpath "200x200" as thumb %}
                        <img alt="{{ screenshot.screenshotname }}" src="{{ thumb.url }}">
                      {% endthumbnail %}                        
                    </a>
                  </li>
                {% endfor %}
                </ul>



          </div>
        </div> <!-- /container -->
    </body>
</html>