<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lizard Screenshotter</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}lizard_screenshotter/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}lizard_screenshotter/css/bootstrap-responsive.css">
        <script src="{{ STATIC_URL}}lizard_screenshotter/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL}}lizard_screenshotter/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL}}lizard_screenshotter/js/bootstrap-tab.js" type="text/javascript" charset="utf-8"></script>
        <script>
        var httpMethod = "http://";
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function takeScreenshot() {
            $.ajax({
              url: '/',
              type: 'POST',
              dataType: 'json',
              data: {
                  url: httpMethod + $('#url').val(),
                  width: $('#width').val(),
                  height: $('#height').val(),
                  timeout: $('#timeout').val(),
                  element: ""
              },
              beforeSend: function(xhr) {
                $("#preview").hide();
                $("#loading").show();
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              },
              complete: function(xhr, textStatus) {
                //called when complete
                $("#loading").hide();
                $("#preview").show();
              },
              success: function(data, textStatus, xhr) {
                //called when successful
                result = jQuery.parseJSON(xhr.responseText);
                $('#previewImage').attr('src', '/media/captures/' + result.screenshot);
                $("p#permaUrl").val(result.originalurl);
              },
              error: function(xhr, textStatus, errorThrown) {
                //called when there is an error
                alert(textStatus);
              }
            });
            return true;
        }
        $(document).ready(function() {
            var fullUrlTotal = "";
            var fullUrlWidth = "";
            var fullUrlHeight = "";
            var fullUrlHref = "";
            
            function updateFullUrl() {
                fullUrlTotal = "http://screenshotter.lizard.net/s/" + fullUrlWidth + "x" + fullUrlHeight + "/" + httpMethod + fullUrlHref;
                console.log("fullUrlTotal:", fullUrlTotal);
                $("#finalUrl").attr("href", fullUrlTotal);
                if(!fullUrlHref) {
                    $("#resulturl").hide();
                } else {
                    $("#resulturl").show();
                }
            }
            
            $("#ht").html(httpMethod);
            $("#options").hide();
            $("#url").focus();
            $("#capturebtn").click(function(e) {
                e.preventDefault();
                if($("#url").val() != "") {
                    takeScreenshot();
                }
            });
            
             $("#url").keyup(function(event) {
                var stt=$(this).val();
                $("#ur").html(stt);
                fullUrlHref = stt;
                $("#finalUrl").attr("href", stt);
                updateFullUrl();
            });
            
            $('#url').keypress(function(e){
                if($("#url").val() != "") {
                    if(e.which == 13){
                        takeScreenshot();
                    }
                }
            });   
            
            $("#w").html($("#width").val());
            $("#h").html($("#height").val());
            
            fullUrlWidth = $("#width").val();
            fullUrlHeight = $("#height").val();
            
            $("#width").keyup(function(event) {
               var stt=$(this).val(); 
               $("#w").html(stt);
               fullUrlWidth = stt;
               updateFullUrl();
            });            
            
            $("#height").keyup(function(event) {
               var stt=$(this).val(); 
               $("#h").html(stt);
               fullUrlHeight = stt;
               updateFullUrl();
            });
            
            
            $("#optionsbtn").click(function(e) {
               e.preventDefault();
               $("#options").toggle();
            });
            $("#httpMethod").toggle(function() {
                $("#httpMethod").html("https://");
                httpMethod = "https://";
                $("#ht").html(httpMethod);
                updateFullUrl();
            }, function() {
                $("#httpMethod").html("http://");
                httpMethod = "http://";
                $("#ht").html(httpMethod);
                updateFullUrl();
            });
            updateFullUrl();
        });
        </script>
        <style>
        .btn:hover{
            cursor:pointer;
        }
        #loading{
            display: none;
        }
        #preview{
            display: none;
        }
        #previewArea{
            margin: 25px 0px 0px 0px;
        }
        #captureform{
            margin: 10px 0px 0px 0px;
        }
        p#permaUrl{
            font-size: 1.3em;
        }
        #httpMethod:hover{
            cursor:pointer;
        }
        </style>
    </head>
    <body id="" class="">
       <a href="https://github.com/lizardsystem/lizard-screenshotter"><img style="z-index:10000;position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">Lizard Screenshotter</a>
            </div>
          </div>
        </div>

        <div class="container">

          <div class="row">

              <div class="span12" style="margin-top:10em;">
                  <center>
                    <img src="{{ STATIC_URL }}lizard_screenshotter/img/lizard.png">
                    
                    <form class="form-horizontal form-search" id="captureform" action="." method="post">{% csrf_token %}
                      <div class="input-prepend input-append">
                        <span class="add-on" id="httpMethod">http://</span><input class="span5" id="url" size="16" type="text" name="url" value=""><button class="btn" id="capturebtn" type="button">Capture!</button><button class="btn" type="button" id="optionsbtn">Options</button>
                      </div>

                      <div id="options">
                      <hr>
                        <table width="50%">
                            <tr>
                                <td>
                                    <label><strong>Width&nbsp;</strong>(px)</label>      
                                </td>
                                <td>
                                    <input type="text" name="width" id="width" value="1024">        
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><strong>Height</strong>&nbsp;(px)</label>
                                </td>
                                <td>
                                    <input type="text" name="height" id="height" value="768">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><strong>Timeout</strong>&nbsp;(ms)</label>
                                </td>
                                <td>
                                    <input type="text" name="timeout" id="timeout" value="2000">
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    <label><strong>ID</strong>&nbsp;(#element)</label>
                                </td>
                                <td>
                                    <input type="text" name="element" id="element_value" value="">
                                </td>
                            </tr> -->
                        </table>
                          
        
                      </div>

                    </form>
                    
                    <div class="row" id="previewArea">
                        <img id="loading" src="{{ STATIC_URL}}lizard_screenshotter/img/ajax-loader.gif"/>
                        <br/>
                        <div id="preview">
                            <img id="previewImage" class="thumbnail" src="http://placehold.it/640x480" width="640"/>
                        </div>
                        <br/>
                        <p id="resulturl">Embed URL: <a href="#" id="finalUrl">http://screenshotter.lizard.net/s/<span id="w"></span>x<span id="h"></span>/<span id="ht"></span><span id="ur"></span></a></p>
                    </div>
                    <hr>
                    &copy;&nbsp;2012&nbsp;<a href="http://www.nelen-schuurmans.nl/">Nelen&nbsp;&amp;&nbsp;Schuurmans</a>
                  </center>
              </div> 
            
          </div> <!-- /row -->

        </div> <!-- /container -->
        
    </body>
    
</html>